<div class="container-fluid relative  justify-center items-center h-full">


  <div class="slider-wrap flex flex-col  h-[798px] relative bg-[#120E31BF] justify-around items-center">


    <div class="slider-main flex  justify-center items-center  ">

      <div class="item flex w-full max-w-[150px] lg:max-w-[305px]  h-[606px] relative ">
        <img class="" src="../../../assets/Lobby_Button_Mode_High_Card_Flush.png" alt="">
      </div>
      <div class="item flex  w-full max-w-[150px] lg:max-w-[305px] h-[606px] relative">
        <img class="" src="../../../assets/Lobby_Button_Mode_Ultimate.png" alt="">
      </div>
      <div class="item flex w-full max-w-[150px] lg:max-w-[305px] h-[606px] relative">
        <img class="" src="../../../assets/Lobby_Button_Mode_Omaha.png" alt="">
      </div>
      <div class="item flex w-full max-w-[150px] lg:max-w-[305px] h-[606px] relative">
        <img class="" src="../../../assets/Lobby_Button_Mode_Trio.png" alt="">
      </div>

    </div>
    <div class="button-area flex  ">
      <button type="button" class="prev flex absolute right-[150px] top-5 outline hover:outline-2 rounded-full -translate-x-2/4 -translate-y-2/4"
        appPrev><mat-icon>arrow_back_ios</mat-icon></button>
      <button type="button" class="next flex absolute right-[80px] top-5 outline hover:outline-2 rounded-full -translate-x-2/4 -translate-y-2/4"
        appNex><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
  </div>
</div>
