<footer>
  <div class=" footer container-fluid">
    <div class="flex flex-col justify-between items-center w-full max-w-[800px] lg:max-w-full px-12">
      <img class="flex justify-between items-center  -mt-[120px]" src="../../../assets/Appicon.png" alt="">
      <div class="flex flex-col justify-between items-center w-full max-w-[800px] lg:max-w-full">
        <h4 class="flex justify-between items-center text-center ">© Copyright 2022 RESTPLAY All Rights Reserved.</h4>
        <p class="flex justify-between items-center text-center text-[#4C4774]">Oyunlar yetişkinlere yöneliktir. Oyunlar, "gerçek parayla kumar oynama" veya gerçek para ya da ödül kazanma imkanı sunmuyor. Sosyal casino oyunlarında pratik yapmak veya başarılı olmak, gelecekte "gerçek parayla kumar oynamak" konusunda başarı elde edileceği anlamına gelmez. Bu web sitesi, reCAPTCHA ile korunmaktadır, ayrıca Google Gizlilik Politikası ve Hizmet Şartları geçerlidir.</p>
      </div>
      <div class="footer-terms font-extrabold space-x-5 flex flex-row justify-between items-center w-full max-w-lg  py-5">
        <div class="flex"><a href="">TERMS OF SERVICE</a></div>
        <div class="flex"><a href="">PRIVACY POLICY</a></div>
        <div class="flex"><a href="">SUPPORT</a></div>
        <div class="flex"><a href="">LICENSE</a></div>
        <div class="flex"><a href="">COOKIE</a></div>
      </div>
    </div>

  </div>


</footer>
