<header class="fixed flex w-full uppercase m-1 bg-[#120E31BF] h-[60px] lg:h-[130px] ">

  <div class="container-fluid  flex w-full items-center justify-between space-x-8 lg:space-x-16">
  <!-- <div class=""> -->
  <!-- Logo -->

    <a href="#" class="logo flex justify-start items-center ">
      <img class="" src="../../../assets//Logo_Restpoker_Small.png" alt="">
    </a>

<!-- mobile menu -->
<div class="block md:hidden pr-4 justify-end">
  <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-gray-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    <div class=" space-y-1 cursor-pointer">
      <div class="bg-gray-100 w-8 h-1 rounded-full"></div>
      <div class="bg-gray-100 w-8 h-1 rounded-full"></div>
      <div class="bg-gray-100 w-8 h-1 rounded-full"></div>
    </div> <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
  <!-- Dropdown menu -->
  <div id="dropdown" class="z-10 hidden bg-gray-700 divide-y divide-gray-100 rounded-lg shadow w-26 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-100 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <a href="#" class="block px-2 py-1 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">homepage</a>
        </li>
        <li>
          <a href="#" class="block px-2 py-1 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">fair</a>
        </li>
        <li>
          <a href="#" class="block px-2 py-1 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">gallery</a>
        </li>
        <li>
          <a href="#" class="block px-2 py-1 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">gamelog</a>
        </li>
      </ul>
  </div>
  <!--  -->
</div>

  <!-- Navigation -->
  <nav class=" hidden md:flex justify-between items-center ">

    <div class="flex items-center space-x-6 lg:space-x-16 ">
      <a href="#" class="hover:text-yellow-400 transition duration-300">homepage</a>
      <a href="#" class="hover:text-yellow-400 transition duration-300">fair</a>
      <a href="#" class="hover:text-yellow-400 transition duration-300">gallery</a>
      <a href="#" class="hover:text-yellow-400 transition duration-300">gamelog</a>

    </div>
    <!-- Language Area -->

  </nav>
  <!-- </div> -->
  <div class="hidden md:flex items-center justify-between">

    <a href="#" class="text-[#FF0091] hover:text-yellow-200 transition duration-300 mr-4">en</a>

  </div>

</div>
</header>




